<ul class="nav justify-content-center" style="background-color: #f5f5f5;">
    <li class="nav-item">
      <a class="nav-link active"  style="color: #454688;cursor: pointer;"(click)="goTo('/acceuil')"><strong>acceuil</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color: #454688;cursor: pointer;" (click)="goTo('/admin')"><strong>admin</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  style="color: #454688;cursor: pointer;"><strong>Link</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled"  ><strong>disabled</strong></a>
    </li>
  </ul>